<%= form_for(@uip_center) do |f| %>
  <% if @uip_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uip_center.errors.count, "error") %> prohibited this uip_center from being saved:</h2>

      <ul>
      <% @uip_center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chief %><br>
    <%= f.text_field :chief %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
