<h1>Listing uip_centers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Chief</th>
      <th>Address</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uip_centers.each do |uip_center| %>
      <tr>
        <td><%= uip_center.code %></td>
        <td><%= uip_center.name %></td>
        <td><%= uip_center.chief %></td>
        <td><%= uip_center.address %></td>
        <td><%= uip_center.phone %></td>
        <td><%= link_to 'Show', uip_center %></td>
        <td><%= link_to 'Edit', edit_uip_center_path(uip_center) %></td>
        <td><%= link_to 'Destroy', uip_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uip center', new_uip_center_path %>
