<%= form_for([@uip_center, @uip_center.uip_regions.build]) do |f| %>
    <div class="field">
        <%= f.label :region_code, "uip_region region_code" %>
        <%= f.text_field :region_code %>
    </div>
    <div class="field">
        <%= f.label :name, "uip_region name" %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :chief, "uip_region chief" %>
        <%= f.text_field :chief %>
    </div>
    <div class="field">
        <%= f.label :address, "uip_region address" %>
        <%= f.text_field :address %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
